.profile-page{
 background-color: #ffffff;
 box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3);
 width: 50%;
 height: 100%;
 max-width: 100%;
 padding: 2rem;
 margin: auto;
 margin-top: 2rem;
 border-radius: 10px;
}